# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# Logs
*.log

# System
.DS_Store

# Git
.git

# Docker
*.tar

# Optional: ignore large models (إذا لا تريد رفعهم)
# *.h5
# *.pkl